<section class="subscribe-form">
    <h3 class="subscribe-form-title">Subscribete a {{@site.title}}</h3>
    <p class="subscribe-overlay-description">Subscribete! Recibe todas las publicaciones con las mejores ofertas en tu email</p>
    <form data-members-form="subscribe">
        <div class="form-group">
            <input class="subscribe-email" data-members-email placeholder="tuemail@example.com"
                autocomplete="false" />
            <button class="button primary" type="submit">
                <span class="button-content">Subscribir</span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Genial!</strong> revisa tu buzón de correo para continuar con la subscripción.
        </div>
        <div class="message-error">
            Por favor introduce una dirección de email valida!
        </div>
    </form>
</section>